img {
  max-width: auto;
  height: 50px;
  border-radius: 10px;
  align-content: center;
}
body {
  background: linear-gradient(to right, hsla(125, 90%, 51%, 0.678), #26f5d9) 0 0 / 50% 100%,
              linear-gradient(to right, #00ff4c, #22e907d5) 50% 0 / 50% 100%;
            } 

p {
  background-color: rgb(151, 160, 235);
  color: white;
  font-size: 19px;
}

a {
  float: left;
  margin: 3px;
  border: 1px;
  padding: 3px;
  background-color:blue;
  color: white;
  text-decoration: dotted;
  border-radius: 25px;
  width: 300px;
  text-align: center;
  


}

a:hover {
  background-color: hsl(195, 76%, 80%);
  color: black;
  border: 3px;
  border-color: blue;


}

h1 {
  background-color: blue;
  color: aliceblue;
}
