img {
  max-width: auto;
  height: 50px;
  border-radius: 10px;
  align-content: center;
}


p {
  background-color: rgb(151, 160, 235);
  color: white;
  font-size: 19px;
}

a {
  float: left;
  margin: 5px;
  border: 3px;
  padding: 5px;
  background-color: royalblue;
  color: white;
  text-decoration: dotted;
  border-radius: 20px;
  width: 200px;


}

a:hover {
  background-color: rgb(12, 243, 193);


}

h1 {
  background-color: blue;
  color: aliceblue;
}

td {
  background-color: rgb(165, 218, 243);
  color: aliceblue;
}