img {
  max-width: auto;
  height: 50px;
  border-radius: 10px;
  align-content: center;
}


p {
  background-color: rgb(151, 160, 235);
  color: white;
  font-size: 19px;
}

a {
  float: left;
  margin: 3px;
  border: 1px;
  padding: 3px;
  background-color:blue;
  color: white;
  text-decoration: dotted;
  border-radius: 25px;
  width: 300px;
  text-align: center;


}

a:hover {
  background-color: lightblue;
  color: black;


}

h1 {
  background-color: blue;
  color: aliceblue;
}

td {
  background-color: rgb(165, 218, 243);
  color: aliceblue;
}