* {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    background: #C4EBFA;
}


header {
   
    width: 80%;
    height: 50px;
    line-height: 50px;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(3, 191, 177);
    color: white;
}

aside {
 
    width: 25%;
    height: 200px;
    line-height: 200px;
    float: left;
    margin-left: 10%;
    margin-bottom: 15px;
    background:#6EDB6E;
    color: white;
}

Article {
    
    width: 53%;
    height: 200px;
    float: right;
    margin-right: 10%;
    background-color: #FBB04B;
    color: white;


}

div{

width: 20%;
height: 80px;
line-height:80px;
float: left;
margin-left: 50px;
background: #FCD24A;
color: white;
}

Footer {
   
    width: 80%;
    height: 50px;
    line-height: 50px;
    clear: both;
    margin: auto;
    background: #03BFB1;
    color: white;

}
p{
margin-top: 70px;
background-color: #FBB04B;
color: white;

}
div:hover,h1{
    text-align: center;
    background:lightgrey;
    color: blue;
}
 